<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Pc rails code quality</title>
    <%= stylesheet_link_tag    "pc_rails_code_quality/application", media: "all" %>
    <%= javascript_include_tag "pc_rails_code_quality/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="menu">
      <%= link_to 'Rubocop', dev_rubocop_html_report_path %>
      <%= link_to 'RubyCritic', dev_rubycritic_html_report_path %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
